.catalogue {
    padding: 10px 0;
}

.flower-list {
    display: grid;
    grid-template-columns:
    minmax(180px, max-content)
    repeat(auto-fill, 200px) 20%;
    gap: 20px;
}

.catalogue-header {
    display: flex;
    justify-content: space-between;
}