.index-layout {
    display: grid;
    grid-template-columns: 1fr minmax(1140px, auto) 1fr;

    > * {
        grid-column: 2;
    }

    .full {
        grid-column: 1 / -1;
    }

    .right-fill {
        grid-column: 2 / span 2;
    }
}