.index-layout {
    display: grid;
    grid-template-columns: minmax($pad-24, 1fr) minmax(250px, $small-breakpoint) minmax($pad-24,
            1fr);

    >* {
        grid-column: 2;
    }

    .full {
        grid-column: 1 / -1;
    }

    .right-fill {
        grid-column: 2 / span 2;
    }

    @include for-tablet-layout {
        grid-template-columns: minmax($pad-20, 1fr) minmax(auto, $medium-breakpoint) minmax($pad-20,
                1fr);
    }

    @include for-normal-layout {
        grid-template-columns: minmax($pad-20, 1fr) minmax(auto, $large-breakpoint) minmax($pad-20,
                1fr);
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax($pad-24, 1fr) minmax($x-large-breakpoint, 1700px) minmax($pad-24, 1fr);
        // minmax(24px, 1fr) minmax(auto, $x-large-breakpoint) minmax(24px, 1fr)
    }
}