// Top header design

.top-header {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >* {
        align-items: center;
    }
}

.logo-btn {
    font-family: cinzel;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.main-input {
    background-color: #f7f7f9;
    border-radius: 45px;
    flex-grow: 1;
    max-width: 320px;
    max-height: 40px;
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
    justify-content: center;

    >* {
        background-color: #f7f7f9;
        margin: auto 2px;
        align-items: center;
        justify-content: center;
    }

    >input {
        width: 100%;
        border: none;
    }

    @media (max-width: 500px) {
        min-width: 280px;
      }
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 6px;

    >* {
        font-size: 1.5rem;
        row-gap: 4px;
        padding: 4px 0;
    }
}

.header-break {
    border-bottom: 2px solid #eee;
}

// Bottom header design

.bottom-header {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
    font-family: raleway;

    >ul {
        display: flex;
        flex-direction: row;
        gap: 8px;

        li>* {
            padding: 4px 12px;
            border-radius: 8px;

            &:hover {
                background-color: beige;
            }
        }
    }
}