.footer-container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    >* {

        padding: 0.5rem;
    }

    >:first-child {
        font-family: 'cinzel';
        font-size: 1.5rem;
    }

    >:nth-child(2) {
        font-style: #6b6b6b;
        font-size: 1rem;
        > ul > * {
            font-size: 0.8rem;
            align-items: center;
            gap: 0.25rem;
            width: fit-content;
        }
    }

    >:nth-child(3) {
        font-style: #6b6b6b;
        font-size: 1rem;
        > * {
            font-size: 0.8rem;
            gap: 0.25rem;
        }
    }

    >:last-child {
        display: flex;
        min-height: 100%;
        justify-content: center;
        align-items: center;
        > button {
            border: 1px black solid;
            padding: 0.5rem 1.5rem
        }
    }
}