header {}

.top-header {
    padding: 2rem 0;
}

.top-header>* {
    align-items: center;
}

.top-header>input {
    margin: 2px;
}

.bottom-header {
    padding: 1.5rem 0;
    justify-content: space-around;

    >ul {
        gap: 8px;
    }

    >*>li {
        padding: 4px 12px;
        border-radius: 8px;
    }

    >*>li:hover {
        background-color: beige;
    }
}

.header-nav>* {
    font-size: 1.5rem;
    row-gap: 4px;
    padding: 4px 0;
}

.break-line {
    border-bottom: 2px solid #eee;
}

.logo {
    font-family: 'cinzel';
    font-size: 2rem;
}

.main-input {
    background-color: #f7f7f9;
    border-radius: 45px;
    padding: 4px 32px;

    >* {
        background-color: #f7f7f9;
        margin: 0 2px;
    }

    >input {
        min-width: 320px;
    }
}