header {
}

.top-header{
    padding: 2rem 0;
}

.top-header > *{
    align-items: center;
}

.top-header > input {
    margin: 2px;
}

.bottom-header {
    padding: 1.5rem 0;
    justify-content: space-around;
    > * > li {
        margin: 0 0.25rem;
    }
}

.header-nav > * {
    font-size: 1.5rem;
    margin: 3px 4px;
    padding: 2px 0;
    >:last-child {
        margin-right: 0px
    }
}

.break-line {
    border-bottom: 2px solid #eee;
}

.logo {
    font-family: 'cinzel'; font-size: 2rem;
}

.main-input {
    background-color: #f7f7f9;
    border-radius: 45px;
    padding: 4px 32px;
    > * {
        background-color: #f7f7f9;
        margin: 0 2px;
    }
    > input {
        min-width: 320px;
    }
}