header {
}

.top-header, .bottom-header {
    padding: 2rem 0;
}

.top-header > *{
    align-items: center;
}

.bottom-header {
    justify-content: space-around;
    > * > li {
        margin: 0 0.25rem;
    }
}

.header-nav > * {
    font-size: 1.25rem;
    margin: 3px 2px;
    padding: 2px 0;
    >:last-child {
        margin-right: 0px
    }
}

.break-line {
    border-bottom: 2px solid #eee;
}

.logo {
    font-family: 'cinzel'; font-size: 2rem;
}