body {
    background-color: var(--white);
    font-family: 'raleway', sans-serif;
    // box-sizing: 0;
    margin: 0;
}

td, th {
    padding: 3px;
    margin: 1px;
}

th {
    font-weight: bold;
    background-color: azure;
}
/* svg {
    stroke: var(--grey);
    fill: var(--grey)
} */

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }