.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
    justify-content: center;
}

.white-sqr-btn {
    border: 1px black solid;
    padding: 0.5rem 1.5rem
}

.number {
    font-family: quicksand
}

.round-btn {
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;

    >a >svg{
        text-align: center
    }

    &:hover {
        background-color: color-mix(in srgb, var(--grey), transparent 80%);
    }
}