body {
    background-color: var(--white);
    font-family: 'raleway', sans-serif
}

td, th {
    padding: 3px;
    margin: 1px;
}

th {
    font-weight: bold;
    background-color: azure;
}
/* svg {
    stroke: var(--grey);
    fill: var(--grey)
} */

*:focus {
    outline: none;
}